In [173]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

  Data Loading

In [174]:
f =open("Product_Sales_Data_Set.csv",'r')
data =[] #All data
for line in f:
    line =line.replace("\n","")
    data.append(line.split(","))
f.close()

Data Cleaning

In [175]:
data[0].remove("Item")
data[0].remove("Year")
data[0].remove("Location")
data[0].remove("Sales_Units")
data[0].remove("Supplier")

In [176]:
data.pop(0)

[]

Data Pre-processing

In [177]:
min_sup=1
numOfAllN=[0]*len(data[0]) #Array of the number of values ​​of all dimensions
valueOfAllN=[]
for j in range(len(numOfAllN)):
    valueOfSingleN = [] # Single dimension value collection
    for i in range(len(data)):
        if(data[i][j] not in valueOfSingleN):
            valueOfSingleN.append(data[i][j])
    valueOfAllN.append(valueOfSingleN)
    numOfAllN[j]=len(valueOfSingleN)
print (numOfAllN) 
print (valueOfAllN)

[4, 4, 2, 4, 5]
[['Computer', 'Camera', 'Phone', 'Printer'], ['Toronto', 'Vancouver', 'New York', 'Chicago'], ['2017', '2018'], ['Samsung', 'Sony', 'HP', 'Dell'], ['5', '1', '2', '4', '3']]

In [178]:
valueOfAllN.pop(-1)

['5', '1', '2', '4', '3']

1-D BUC

In [179]:
countlist = []
for i in valueOfAllN[0]:
  countlist.append(0)
  for row in data:
    if row[0] == i:
      countlist[-1]+=int(row[-1])
print(countlist)

[97, 93, 96, 92]

In [180]:
countlist1 = []
for i in valueOfAllN[1]:
  countlist1.append(0)
  for row in data:
    if row[1] == i:
      countlist1[-1]+=int(row[-1])
print(countlist1)

[94, 87, 96, 101]

In [181]:
countlist2 = []
for i in valueOfAllN[2]:
  countlist2.append(0)
  for row in data:
    if row[2] == i:
      countlist2[-1]+=int(row[-1])
print(countlist2)

[192, 186]

In [182]:
countlist3 = []
for i in valueOfAllN[3]:
  countlist3.append(0)
  for row in data:
    if row[3] == i:
      countlist3[-1]+=int(row[-1])
print(countlist3)

[86, 103, 88, 101]

4-D BUC

In [183]:
count4d = []
index1 = index2 = index3 = index4 = 0 
da_i=0
for item in valueOfAllN[0]:
  temp = []
  count4d.append(temp)
  index2 = 0
  for loc in valueOfAllN[1]:
    temp1 = []
    count4d[index1].append(temp1)
    
    index3 = 0
    for year in valueOfAllN[2]:
      temp2 = []
      count4d[index1][index2].append(temp2)
      index4 = 0
      for company in valueOfAllN[3]:
        y = int(data[da_i][4])
        da_i+=1
        count4d[index1][index2][index3].append(0)
        
        index4+=1
      index3+=1
    index2+=1
  index1+=1

print(count4d)

[[[[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]]], [[[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]]], [[[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]]], [[[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]], [[0, 0, 0, 0], [0, 0, 0, 0]]]]

In [184]:
for d1 in data:
  x1 = d1[0]
  x2 = d1[1]
  x3 = d1[2]
  x4 = d1[3]
  itemi = 0
  loci = 0
  yeari = 0
  compi = 0
  for ix in valueOfAllN[0]:
    if ix==x1:
      break
    itemi+=1
  for lx in valueOfAllN[1]:
    if lx==x2:
      break
    loci+=1

  for yi in valueOfAllN[2]:
    if yi==x3:
      break
    yeari+=1

  for zi in valueOfAllN[3]:
    if zi==x4:
      break
    compi+=1

  count4d[itemi][loci][yeari][compi]+=int(d1[4])
#print(count4d[1][1][1][1])

In [185]:
#print(count4d[0][0][0][0])
for i in range(0,4):
  for j in range(0,4):
    for k in range(0,2):
      for l in range(0,4): 
        if count4d[i][j][k][l]>=4: 
          print(count4d[i][j][k][l])
          print(count4d[i][j][k][l])

5
5
4
4
5
5
5
5
5
5
4
4
5
5
5
5
5
5
5
5
4
4
4
4
5
5
5
5
4
4
4
4
4
4
4
4
5
5
4
4
4
4
4
4
5
5
5
5
5
5
5
5
4
4
4
4
5
5
5
5
5
5
5
5
5
5
4
4
4
4
4
4
4
4
4
4
4
4
5
5
4
4
5
5
5
5
5
5
5
5
5
5

3-D

In [186]:
count3d = []
index1 = index2 = index3 = 0 
da_i=0
for item in valueOfAllN[0]:
  temp = []
  count3d.append(temp)
  index2 = 0
  for loc in valueOfAllN[1]:
    temp1 = []
    count3d[index1].append(temp1)
    
    index3 = 0
    for year in valueOfAllN[2]:
      temp2 = []
      count3d[index1][index2].append(0)

        
        
      index3+=1
    index2+=1
  index1+=1
print(count3d)

[[[0, 0], [0, 0], [0, 0], [0, 0]], [[0, 0], [0, 0], [0, 0], [0, 0]], [[0, 0], [0, 0], [0, 0], [0, 0]], [[0, 0], [0, 0], [0, 0], [0, 0]]]

In [187]:
for d2 in data:
  x1 = d2[0]
  x2 = d2[1]
  x3 = d2[2]
  itemi = 0
  loci = 0
  yeari = 0
  for ix in valueOfAllN[0]:
    if ix==x1:
      break
    itemi+=1
  for lx in valueOfAllN[1]:
    if lx==x2:
      break
    loci+=1

  for yi in valueOfAllN[2]:
    if yi==x3:
      break
    yeari+=1


  count3d[itemi][loci][yeari]+=int(d2[4])
#print(count4d[1][1][1][1])  

count3d[0][0][0]

12

In [188]:
#print(count4d[0][0][0][0])
for i in range(0,4):
  for j in range(0,4):
    for k in range(0,2): 
        if count3d[i][j][k]>=0: 
          print(count4d[i][j][k])

[5, 1, 2, 4]
[3, 1, 3, 2]
[2, 5, 1, 2]
[2, 5, 1, 2]
[3, 2, 5, 4]
[3, 5, 5, 2]
[1, 5, 2, 5]
[4, 4, 5, 1]
[1, 3, 5, 4]
[1, 4, 4, 3]
[4, 3, 3, 1]
[5, 1, 1, 4]
[3, 2, 3, 4]
[2, 2, 3, 2]
[4, 2, 5, 3]
[2, 3, 1, 5]
[1, 2, 5, 5]
[2, 4, 3, 3]
[2, 3, 3, 4]
[1, 5, 2, 2]
[3, 3, 2, 1]
[5, 2, 5, 1]
[2, 3, 2, 5]
[5, 4, 2, 4]
[3, 4, 2, 4]
[3, 3, 1, 3]
[1, 4, 4, 3]
[5, 1, 1, 4]
[1, 5, 2, 3]
[1, 5, 2, 5]
[3, 2, 1, 5]
[3, 5, 2, 1]

    2-D BUC

In [189]:
count2d = []
index1 = index2 = 0 
da_i=0
for item in valueOfAllN[0]:
  temp = []
  count2d.append(temp)
  index2 = 0
  for loc in valueOfAllN[1]:
    temp1 = []
    count2d[index1].append(0)
   

        
        
      
    index2+=1
  index1+=1
print(count2d)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [190]:
for d3 in data:
  x1 = d3[0]
  x2 = d3[1]
  x3 = d3[2]
  itemi = 0
  loci = 0
  yeari = 0
  for ix in valueOfAllN[0]:
    if ix==x1:
      break
    itemi+=1
  for lx in valueOfAllN[1]:
    if lx==x2:
      break
    loci+=1

  for yi in valueOfAllN[2]:
    if yi==x3:
      break
    yeari+=1


  count2d[itemi][loci]+=int(d3[4])
#print(count2d[1][1])  

count2d[1][0]

25

In [191]:
#print(count4d[0][0][0][0])
for i in range(0,4):
  for j in range(0,4):
        if count2d[i][j]>=20: 
          print(count2d[i][j])
          print(count2d[i][j])

21
21
20
20
29
29
27
27
25
25
22
22
21
21
25
25
25
25
22
22
22
22
27
27
23
23
23
23
24
24
22
22